body {
    background: #2A8582;
    display: flex;
    flex-flow: column nowrap;
}

li {
    font-size: 0.7em;
    list-style: decimal;
}

span#build-btn {
    margin: 1em 0 1em 10em;
    padding: 1em 2em;
    border-radius: 5px;
    background: #17cb27;
    color: rgb(5, 80, 8);
}

#build-btn:hover {
    background: rebeccapurple;
    color: orange;
    cursor: pointer;
}

#description-container {
    border-radius: 2em;
    min-width: 78vw;
    min-height: 78vh;
    display: flex;
    background: #2d4c4e;
    position: fixed;
    flex-flow: column nowrap;
    padding: 1em 5em;
    top: 3em;
    color: #e8f9fb;
    font-family: arial;
}

.score {
    display: flex;
    flex-flow: row nowrap;
    min-width: 100%;
    align-items: center;
    position: fixed;
    bottom: 1em;
    color: navajowhite;
    justify-content: center;
    background: #073a3c;
    bottom: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.bricks-remaining {
    background: #073a3c;
    padding: .5em 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

#block {
    display: flex;
    flex-flow: column nowrap;
    padding: 2em;
    background: #2A8582;
    min-height: 100vh;
    justify-content: flex-end;
    padding-bottom: 10vh;
}

.brick {
    padding: 1em;
    background: greenyellow;
    color: purple;
    margin: 0 1vw;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1em;
    background: purple;
}

.description-content {
    margin-bottom: 2vh;
}

.startbutton {
    display: flex;
    flex-direction: row;
    background: orangered;
    color: #fff;
    border-radius: 1em;
    padding: 5vh 10vw;
}

.startbutton:hover {
    cursor: pointer;
}

div#start {
    display: flex;
    flex-flow: row nowrap;
    padding: 2em;
    justify-content: center;
}